body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#root{
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
#mainDiv{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 700px;
}
.login{
	align-items: flex-end;
}
.login a{
	text-decoration: none;
}
.input_main_comment{
	box-sizing: border-box;
	width: 700px;
	height: 400px;
	border: 1px solid;
	border-color: #d5d5f5;
	padding: 10px;
	margin-top: 15px;
}
.input_child_comment{
	box-sizing: border-box;
	border: 1px solid;
	border-color: #d5d5f5;
	width: 670px;
	padding: 10px;
	margin: 5px 0px;
	background: #d4e9f8;
}
form div{
	margin: 5px 0px;
}
.main{
	margin-bottom: 10px;
	border: 1px solid;
	border-color: #d5d5f5;
	justify-content: space-around;
}
.information{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 670px;
	padding: 10px 10px 0px 10px;
}
.main_coment_done{
	margin: 0px 10px;
	white-space: pre-line;
}
.name_time{
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	width: 668px;
	white-space:nowrap;
	
}
.name_time:before{
	content: '';
	position: absolute;
	left: 10px;
	bottom: 0;
	width: 650px;
	border-bottom: 1px solid;
	border-color: gray;
}
.comment_area{
	display: block;
	word-wrap:break-word;
	max-width: 450px;
}
.child_num{
	margin-left: auto;
	margin-right: 20px;
	margin-top: 5px;
	font-size: 10px;
}
	
	
.child_comment{
	margin-left: 20px;
	margin-bottom: 5px;
	width: 675px;
}
.child_comment_done{
	background: #d4e9f8;
	margin: 5px 0px;
	box-sizing: border-box;
	border: 1px solid;
	border-color: #d5d5f5;
	width: 670px;
}
.textareaDiv{
	height: 250px;
}
.commentH2{
	margin-top: 50px;
}
.writecomment{
	width: 640px;
	height: 250px;
	max-width: 640px;
	max-height: 250px;
}
.comment_btn{
	margin-left: 550px;
}
.message_collapse, .message_collapse_ajax{
	color: blue;
	cursor: pointer;
}
.message_expand{
	color: blue;
	cursor: pointer;
}
.submit{
	width: 60px;
	height: 30px;
	background: #6eafff;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4px;
}
.pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0px;
}
.pagination span, .pagination a{
	margin: 0px 10px;
	cursor: pointer;
	text-decoration: none;
}
.page_current{
	color: red;
}
.unclickable{
	pointer-events: none ;
}
.modify, .delete{
	text-decoration: none;
	font-size: 14px;
	margin-right: 5px;
}
.modify{
	margin-left: 370px;
}
.show_pink{
	background: #ff00001f;
}
.loginDiv{
	width: 400px;
}
.registered{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	border: 2px solid;
	border-color: #80808057;
	padding: 20px;
}
.create{
	width: 400px;
}
input{
	margin: 10px 0px;
}
.submit{
	width: 60px;
	height: 30px;
	background: #6eafff;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4px;
}
div a{
	text-decoration: none;
}
.insert{
	width: 250px;
}


.nav-box{
	display: flex;
	width: 100%;
}

.nav-rightside{
	margin: 0 auto;
	margin-right: 50px;
}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.navbar-nav{
	flex-direction: row;
}

.nav-item{
	margin-right: 20px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu{
	min-width: auto;
}

.alert{
	font-size: 8px;
	color: red;
	padding: 0px;
	margin: 0px;
}
.titleDiv{
	width: 680px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.write_comment{
	display: flex;
	margin-left: 450px;
}
.pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.unclickable{
	pointer-events: none ;
	color: black;
}
.btn_back{
	margin-top: 20px;
	margin-left: 600px;
	padding: .150rem .50rem;
}