<meta charset = "UTF-8"/>
<meta name = "viewport" content = "width = device-width, initial-scale = 1" />
<meta name = "og:title" content = "短網址生成" />
<meta name = "og:description" content = "week5homework2" />
<meta name = "og:type" content = "website" />
<title>短網址生成</title>