//將header獨立出來

<meta charset = "UTF-8"/>
<meta name = "viewport" content = "width = device-width, initial-scale = 1" />
<meta name = "og:title" content = "留言板" />
<meta name = "og:description" content = "week5homework2" />
<meta name = "og:type" content = "website" />
<title>留言板</title>