<!DOCTYPE html>
<html>
	<head>
		<meta charset = 'UTF-8' />
		<meta name = 'viewport' content = 'width = device-width, initial-scale = 1' />
		<title>登入失敗</title>
		<script> alert('請重新登入'); location.href = '/login' </script>
	</head>
	<body>
	</body>
</html>