<!DOCTYPE html>
<html>
	<head>
		<meta charset = 'UTF-8' />
		<meta name = 'viewport' content = 'width = device-width, initial-scale = 1' />
		<title>註冊失敗</title>
		<script> alert('帳號/密碼/暱稱，皆請勿超過10個字'); location.href = '/registered' </script>
	</head>
	<body>
	</body>
</html>